{% extends 'core.html' %}
{% load static %}
{% block corecss %}
    {{block.super}}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
{% endblock corecss %}

{% block corebodycontent %}
    <!-- Navbar-->
    {% include "navbar.html" %}

    <!-- Header-->
    <header class="masthead" style="background-image: url('{% static "img/home-bg.jpg" %}');">
        <div class="container position-relative px-4 px-lg-5  ">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Bharat Yadav</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                <div class="post-preview">
                    <a href={% url "post" post.id %}>
                        <h2 class="post-title">{{post.title}}</h2>
                        {% if post.sub_title %}
                        <h3 class="post-subtitle">{{post.sub_title}}</h3>
                        {% endif %}

                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!" class="text-capitalize">{{post.author}}</a>
                        on {{post.post_updated_on}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Footer-->
    {% include "footer.html" %}

{% endblock corebodycontent %}

{% block corejs %}
{{block.super}}
{% endblock corejs %}
